$light-gray : #FAFAFA;
$unread : #FFF7F7;
$main-dark : #272727;
$main-black: #4E5064;
$main-light: #FFFFFF;
$main-gray: #F0F0F0;
$status-done: #0080F7;
$status-active: #03CF54;
$status-caution: #CF0A0D;
$status-deactivated: #ABABAB;
$status-waiting: #EB9B00;
$status-waitingbox: #FFF2C5;
$status-boxgreen: #EFFFE5;
$status-boxdone: #E0F0FF;
$primary-red: #910D10;
$primary-lightred: #FFEEEE;
$primary-lightgrey: #F5F5F5;
$secondary-gray: #D5D5D5;
$secondary-darkgrey: #969696;
$flowkit-purple: #7B61FF;
$flowkit-charcoal: #222222;
$flowkit-red: #FC5555;
$flowkit-green: #29CC6A;
$flowkit-blue: #0099FF;
$flowkit-white: #FFFFFF;
